# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ebuBuN
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ebuBuN:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:uJaJaM
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uJaJaM:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:DuWyNa
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE DuWyNa:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:eZajaV
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eZajaV:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:PemuZa
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE PemuZa:ERRORPAGEID

 # enable expirations
 ExpiresActive On

 # expire GIF images after a month in the client's cache
 ExpiresByType image/gif A2592000
 ExpiresByType image/jpg A2592000